<p class="title">
    {{ view.about.full_name }}
</p>
<p class="subtitle">
    {{ view.about.title }}
</p>
<p>
    {{ view.about.html_bio|safe }}
</p>
<br>
{% if view.about.email %}
<p>
    <span class="icon-text">
        <span class="icon">
            <i class="fa-solid fa-at"></i>
        </span>
        <a href="mailto:{{ view.about.email }}" target="_blank">Email</a>
    </span>
</p>
{% endif %}
{% if view.about.github %}
<p>
    <span class="icon-text">
        <span class="icon">
            <i class="fa-brands fa-github"></i>
        </span>
        <a href="{{ view.about.github }}" target="_blank">GitHub</a>
    </span>
</p>
{% endif %}
{% if view.about.linkedin %}
<p>
    <span class="icon-text">
        <span class="icon">
            <i class="fa-brands fa-linkedin"></i>
        </span>
        <a href="{{ view.about.linkedin }}" target="_blank">LinkedIn</a>
    </span>
</p>
{% endif %}
{% if view.about.resume %}
<p>
    <span class="icon-text">
        <span class="icon">
            <i class="fa-solid fa-download"></i>
        </span>
        <a href="{{ view.about.resume }}" target="_blank">Resume</a>
    </span>
</p>
{% endif %}
