{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hunter Chambers - Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="{% static 'resume/js/bulma.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"
        integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"
        defer></script>
</head>

<body>
    <section class="hero is-link">
        <div class="hero-head">
            {% include "resume/bulma/navbar.html" %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    {{ view.about.full_name }}
                </p>
                <p class="subtitle">
                    {{ view.about.title }}
                </p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li><a hx-get="{% url 'bulma-about' %}" hx-trigger="load, click"
                                hx-target="#bulma-content">About
                                Me</a>
                        </li>
                        <li><a hx-get="{% url 'bulma-work-history' %}" hx-trigger="click"
                                hx-target="#bulma-content">Work
                                History</a></li>
                        <li><a hx-get="{% url 'bulma-milestones' %}" hx-trigger="click"
                                hx-target="#bulma-content">Milestones</a></li>
                        <li><a hx-get="{% url 'bulma-hobbies' %}" hx-trigger="click"
                                hx-target="#bulma-content">Hobbies</a>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <div class="m-6">
        <div class="container">
            <div id="bulma-content"></div>
        </div>
    </div>
</body>

</html>
