<section class="section">
    <div class="container is-clipped">
        <div id="bulma-hobby-carousel">
            {% for hobby in view.hobbies %}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <img src="{{ hobby.img }}" alt="..." loading="lazy">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4">{{ hobby.hobby }}</p>
                    <div class="content">
                        {{ hobby.html_description|safe }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    bulmaCarousel.attach('#bulma-hobby-carousel', {
        slidesToScroll: 1,
        slidesToShow: 1,
        loop: true,
    });
</script>
