<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <p class="title">Resume</p>
            </div>
            <span class="navbar-burger has-text-light" data-target="bulmaNavBar">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="bulmaNavBar" class="navbar-menu">
            <div class="navbar-end">
                {% for link in view.links %}
                <a class="navbar-item" href="{{ link.url }}" target="_blank">{{ link.page }}</a>
                {% endfor %}
                <span class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        Framework
                    </a>
                    <div class="navbar-dropdown">
                        {% for link in view.dropdown %}
                        {% if link.page == view.FRAMEWORK %}
                        <a href="#" class="navbar-item has-text-dark">
                            <i class="fa-solid fa-chevron-right pr-2"></i>
                            {{ link.page }}
                            <i class="fa-solid fa-chevron-left pl-2"></i>
                        </a>
                        {% else %}
                        <a href="{{ link.url }}" class="navbar-item has-text-dark">
                            {{ link.page }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </span>
                <span class="navbar-item">
                    <a class="button is-link is-inverted" href="https://github.com/chambersh1129/Resume"
                        target="_blank">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Source Code</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
