<nav class="navbar has-background-link-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <p class="title has-text-white">Resume</p>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="resume-nav-bar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="resume-nav-bar" class="navbar-menu">
        <div class="navbar-start">
            {% for link in view.links %}
            <a class="navbar-item has-text-white" href="{{ link.url }}">{{ link.page }}</a>
            {% endfor %}
        </div>
        {% if view.about.github %}
        <div class="navbar-end">
            <div class="navbar-item bd-navbar-download-button is-hidden-touch">
                <a class="button is-primary mr-3" href="{{ view.about.github }}">
                    <span class="icon is-hidden-touch is-hidden-desktop-only">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>Source Code</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
