<div class="block">
    <div class="card" id="table-filter-card">
        <header class="card-header">
            <p class="card-header-title">
                Filters
            </p>
            <button class="card-header-icon" aria-label="more options" onclick="expandCard('table-filter-card')">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content is-hidden">
            <div class="field is-horizontal">
                <div class="field has-addons mx-auto">
                    <p class="control">
                        <a class="button is-static">Milestone</a>
                    </p>
                    <p class="control">
                        <input id="milestone-filter-input" class="input filter-input" type="text"
                            placeholder="systems developer" onkeyup="typeDelay(function(){filterTable();}, 500 );">
                    </p>
                </div>
                <div class="field has-addons mx-auto">
                    <p class="control">
                        <a class="button is-static">Type</a>
                    </p>
                    <p class="control">
                        <input id="type-filter-input" class="input filter-input" type="text" placeholder="role"
                            onkeyup="typeDelay(function(){filterTable();}, 500 );">
                    </p>
                </div>
                <div class="field has-addons mx-auto">
                    <p class="control">
                        <a class="button is-static">Tags</a>
                    </p>
                    <p class="control">
                        <input id="tag-filter-input" class="input filter-input" type="text" placeholder="django"
                            onkeyup="typeDelay(function(){filterTable();}, 500 );">
                    </p>
                </div>
                <div class="field mx-auto">
                    <div class="control">
                        <button class="button" onclick="clearFilters();filterTable()">Clear Filters</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-container">
    <table id="experience-table" class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Milestone</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for milestone in milestones %}
            <tr class="filterable">
                <td>
                    <span>{{ milestone.title|title }}</span>
                    <a href="javascript:openModal('modal-id-{{ milestone.id }}')">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                    </a>
                </td>
                <td>{{ milestone.type|title }}</td>
                <td>{{ milestone.start_date }}</td>
                <td>{{ milestone.end_date }}</td>
                <td>
                    {% for tag in milestone.tags %}
                    <span class="tag is-success">{{ tag }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for milestone in milestones %}
    <div id="modal-id-{{ milestone.id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ milestone.title }}</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>{{ milestone.description|linebreaksbr }}</p><br>
                {% for tag in milestone.tags %}
                <span class="tag is-success">{{ tag }}</span>
                {% endfor %}
            </section>
            <footer class="modal-card-foot">
                <p>Time Spent: {{ milestone.total_time }}</p>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>
